@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Barbearia cavalera</h1>

    <img src="~/img/barbearia.jpeg"  width="300" height="300">

 <br><br><br>
    <p>Bem-vindo à Barbearia Cavalera, onde a arte do corte de cabelo e barba se encontra com o estilo autêntico e a tradição, nossa barbearia oferece uma experiência única, combinando habilidade artesanal com um ambiente acolhedor e descontraído. Nossos experientes barbeiros são verdadeiros mestres de sua arte, dedicados a fornecer serviços de qualidade, desde cortes clássicos até os estilos mais modernos. Na Barbearia Cavalera, você encontrará o lugar perfeito para cuidar do seu visual.</p>
</div>