<h2 class="titulo2">Lista de serviços</h2>

<ul class="lista-servicos">
    <li>
        <h2 class="titulo-servico">Corte de cabelo:</h2>
        <p class="preco-servico">R$30,00</p>
    </li>
    <li>
        <h2 class="titulo-servico">Barba:</h2>
        <p class="preco-servico">R$25,00</p>
    </li>
    <li>
        <h2 class="titulo-servico">Combo cabelo e barba:</h2>
        <p class="preco-servico">R$50,00</p>
    </li>
</ul>
